* {
  padding: 0;
  margin: 0;
}

.app {
  max-width: 1000px;
  margin-top: 50px;
  text-align: center;
  background: none;
}

#title {
  font-family: cursive;
  color: greenyellow;
  font-size: 50px;
  display: flex;
  justify-content: center;
  background-color: deeppink;
}

#inputBox {
  margin-top: 100px;
  font-family: cursive;
  border-radius: 5px;
}

.setNewItem {
  font-size: 100px;
}
